@charset "UTF-8";

@font-face {
  font-family: "fontello";
  src:url("../fonts/fontello.eot");
  src:url("../fonts/fontello.eot?#iefix") format("embedded-opentype"),
    url("../fonts/fontello.woff") format("woff"),
    url("../fonts/fontello.ttf") format("truetype"),
    url("../fonts/fontello.svg#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../fonts/fontello.svg#fontello') format('svg');
  }
}
*/

[data-icon]:before {
  font-family: "fontello" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fontello" ;
  font-style: normal;
  font-weight: normal;
  speak: none;
  vertical-align: middle;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.error.icon:before {
  color: $error;
}

.success.icon:before {
  color: $success;
}

.warning.icon:before {
  color: $warning;
}

.primary.icon:before {
  color: $brand-primary;
}

.big.icon:before {
  font-size: 120%;
}

.icon-v-alert:before {
  content: "\e80c";
}
.icon-v-alert-line:before {
  content: "\e80b";
}
.icon-v-archive:before {
  content: "\e80e";
}
.icon-v-archive-line:before {
  content: "\e80d";
}
.icon-v-attachment:before {
  content: "\e80f";
}
.icon-v-avatar-business:before {
  content: "\e813";
}
.icon-v-avatar-business-circle:before {
  content: "\e811";
}
.icon-v-avatar-business-circle-line:before {
  content: "\e810";
}
.icon-v-avatar-business-line:before {
  content: "\e812";
}
.icon-v-avatar-group-circle:before {
  content: "\e815";
}
.icon-v-avatar-group-circle-line:before {
  content: "\e814";
}
.icon-v-avatar-multiple-people:before {
  content: "\e817";
}
.icon-v-avatar-multiple-people-line:before {
  content: "\e816";
}
.icon-v-avatar-person-line:before {
  content: "\e81a";
}
.icon-v-billing-inquiry:before {
  content: "\e801";
}
.icon-v-billing-inquiry-line:before {
  content: "\e800";
}
.icon-v-bookmark:before {
  content: "\e81d";
}
.icon-v-bookmark-line:before {
  content: "\e81c";
}
.icon-v-calendar:before {
  content: "\e81f";
}
.icon-v-calendar-line:before {
  content: "\e81e";
}
.icon-v-call-list:before {
  content: "\e821";
}
.icon-v-call-list-line:before {
  content: "\e820";
}
.icon-v-camera:before {
  content: "\e823";
}
.icon-v-caret-left-circle:before {
  content: "\e826";
}
.icon-v-caret-right-circle:before {
  content: "\e827";
}
.icon-v-caret-up-circle:before {
  content: "\e828";
}
.icon-v-cart:before {
  content: "\e82a";
}
.icon-v-cart-line:before {
  content: "\e829";
}
.icon-v-case:before {
  content: "\e82c";
}
.icon-v-case-line:before {
  content: "\e82b";
}
.icon-v-chart:before {
  content: "\e82e";
}
.icon-v-chart-line:before {
  content: "\e82d";
}
.icon-v-chat1:before {
  content: "\e82f";
}
.icon-v-check:before {
  content: "\e835";
}
.icon-v-check-circle:before {
  content: "\e834";
}
.icon-v-check-circle-line:before {
  content: "\e833";
}
.icon-v-claim-new:before {
  content: "\e803";
}
.icon-v-claim:before {
  content: "\e837";
}
.icon-v-claim-new-line:before {
  content: "\e802";
}
.icon-v-claim-line:before {
  content: "\e836";
}
.icon-v-client:before {
  content: "\e839";
}
.icon-v-client-line:before {
  content: "\e838";
}
.icon-v-close:before {
  content: "\e83c";
}
.icon-v-document1:before {
  content: "\e83e";
}
.icon-v-document1-line:before {
  content: "\e83d";
}
.icon-v-document2:before {
  content: "\e840";
}
.icon-v-document2-line:before {
  content: "\e83f";
}
.icon-v-double-caret-left:before {
  content: "\e842";
}
.icon-v-double-caret-left-circle:before {
  content: "\e841";
}
.icon-v-double-caret-right:before {
  content: "\e844";
}
.icon-v-double-caret-right-circle:before {
  content: "\e843";
}
.icon-v-down-arrow:before {
  content: "\e846";
}
.icon-v-down-arrow-line:before {
  content: "\e845";
}
.icon-v-download2:before {
  content: "\e84a";
}
.icon-v-edit:before {
  content: "\e84c";
}
.icon-v-edit2:before {
  content: "\e84d";
}
.icon-v-edit-line:before {
  content: "\e84b";
}
.icon-v-email:before {
  content: "\e84f";
}
.icon-v-email-line:before {
  content: "\e84e";
}
.icon-v-expand:before {
  content: "\e850";
}
.icon-v-file-excel:before {
  content: "\e851";
}
.icon-v-file-movie:before {
  content: "\e852";
}
.icon-v-file-powerpoint:before {
  content: "\e853";
}
.icon-v-filter:before {
  content: "\e858";
}
.icon-v-filter-line:before {
  content: "\e857";
}
.icon-v-folder:before {
  content: "\e85a";
}
.icon-v-folder-line:before {
  content: "\e859";
}
.icon-v-follow-up:before {
  content: "\e85c";
}
.icon-v-follow-up-line:before {
  content: "\e85b";
}
.icon-v-forward:before {
  content: "\e85e";
}
.icon-v-forward-line:before {
  content: "\e85d";
}
.icon-v-full-arrow-down-circle:before {
  content: "\e860";
}
.icon-v-full-arrow-down-circle-line:before {
  content: "\e85f";
}
.icon-v-full-arrow-up-circle:before {
  content: "\e865";
}
.icon-v-full-arrow-up-circle-line:before {
  content: "\e864";
}
.icon-v-full-left-right-circle-line:before {
  content: "\e866";
}
.icon-v-graph:before {
  content: "\e868";
}
.icon-v-graph-line:before {
  content: "\e867";
}
.icon-v-grip:before {
  content: "\e869";
}
.icon-v-image:before {
  content: "\e86b";
}
.icon-v-image-line:before {
  content: "\e86a";
}
.icon-v-information:before {
  content: "\e86c";
}
.icon-v-information-line:before {
  content: "\e86d";
}
.icon-v-key-line:before {
  content: "\e870";
}
.icon-v-left-arrow:before {
  content: "\e873";
}
.icon-v-left-arrow-line:before {
  content: "\e872";
}
.icon-v-left-caret:before {
  content: "\e874";
}
.icon-v-link:before {
  content: "\e875";
}
.icon-v-list:before {
  content: "\e876";
}
.icon-v-location:before {
  content: "\e878";
}
.icon-v-location-line:before {
  content: "\e877";
}
.icon-v-menu:before {
  content: "\e87a";
}
.icon-v-menu2:before {
  content: "\e87c";
}
.icon-v-minus:before {
  content: "\e87f";
}
.icon-v-minus-circle:before {
  content: "\e87d";
}
.icon-v-minus-line:before {
  content: "\e87e";
}
.icon-v-modify-contract:before {
  content: "\e806";
}
.icon-v-move:before {
  content: "\e807";
}
.icon-v-note:before {
  content: "\e881";
}
.icon-v-note-line:before {
  content: "\e880";
}
.icon-v-opportunity:before {
  content: "\e883";
}
.icon-v-opportunity-line:before {
  content: "\e882";
}
.icon-v-payment:before {
  content: "\e885";
}
.icon-v-play:before {
  content: "\e889";
}
.icon-v-play-line:before {
  content: "\e888";
}
.icon-v-plus:before {
  content: "\e88c";
}
.icon-v-plus-circle:before {
  content: "\e88a";
}
.icon-v-plus-line:before {
  content: "\e88b";
}
.icon-v-print:before {
  content: "\e894";
}
.icon-v-print-line:before {
  content: "\e88d";
}
.icon-v-question-circle:before {
  content: "\e890";
}
.icon-v-question-circle-line:before {
  content: "\e88f";
}
.icon-v-refresh:before {
  content: "\e891";
}
.icon-v-save:before {
  content: "\e896";
}
.icon-v-save-line:before {
  content: "\e895";
}
.icon-v-search:before {
  content: "\e897";
}
.icon-v-setting:before {
  content: "\e899";
}
.icon-v-setting-line:before {
  content: "\e898";
}
.icon-v-star:before {
  content: "\e89b";
}
.icon-v-star-line:before {
  content: "\e89a";
}
.icon-v-step-current:before {
  content: "\e89c";
}
.icon-v-step-prestine:before {
  content: "\e89d";
}
.icon-v-task:before {
  content: "\e89e";
}
.icon-v-trash:before {
  content: "\e8a2";
}
.icon-v-trash-line:before {
  content: "\e8a1";
}
.icon-v-trobleshoot:before {
  content: "\e809";
}
.icon-v-troubleshoot-line:before {
  content: "\e80a";
}
.icon-v-up-arrow:before {
  content: "\e8a4";
}
.icon-v-up-arrow-line:before {
  content: "\e8a3";
}
.icon-v-up-caret:before {
  content: "\e8a5";
}
.icon-v-upload:before {
  content: "\e8a6";
}
.icon-v-video:before {
  content: "\e8a8";
}
.icon-v-video-line:before {
  content: "\e8a7";
}
.icon-v-zoom-in:before {
  content: "\e8ac";
}
.icon-v-zoom-out:before {
  content: "\e8ad";
}
.icon-v-avatar-person:before {
  content: "\e81b";
}
.icon-v-avatar-person-circle:before {
  content: "\e819";
}
.icon-v-camera-line:before {
  content: "\e822";
}
.icon-v-campaign:before {
  content: "\e824";
}
.icon-v-chat1-line:before {
  content: "\e830";
}
.icon-v-chat2:before {
  content: "\e832";
}
.icon-v-close-circle:before {
  content: "\e83b";
}
.icon-v-close-circle-line:before {
  content: "\e83a";
}
.icon-v-down-caret:before {
  content: "\e847";
}
.icon-v-download1:before {
  content: "\e849";
}
.icon-v-file-psd:before {
  content: "\e854";
}
.icon-v-file-word:before {
  content: "\e855";
}
.icon-v-full-arrow-left-circle:before {
  content: "\e861";
}
.icon-v-full-arrow-right-circle:before {
  content: "\e863";
}
.icon-v-iq:before {
  content: "\e86f";
}
.icon-v-iq-line:before {
  content: "\e86e";
}
.icon-v-menu2-line:before {
  content: "\e87b";
}
.icon-v-menu-line:before {
  content: "\e879";
}
.icon-v-payment-line:before {
  content: "\e884";
}
.icon-v-phone:before {
  content: "\e887";
}
.icon-v-right-arrow:before {
  content: "\e893";
}
.icon-v-right-arrow-line:before {
  content: "\e892";
}
.icon-v-test:before {
  content: "\e808";
}
.icon-v-time:before {
  content: "\e8a0";
}
.icon-v-view:before {
  content: "\e8a9";
}
.icon-v-warning-circle-line:before {
  content: "\e8aa";
}
.icon-v-avatar-person-circle-line:before {
  content: "\e818";
}
.icon-v-caret-down-circle:before {
  content: "\e825";
}
.icon-v-chat2-line:before {
  content: "\e831";
}
.icon-v-consult:before {
  content: "\e804";
}
.icon-v-download1-line:before {
  content: "\e848";
}
.icon-v-file-zip:before {
  content: "\e856";
}
.icon-v-full-arrow-right-circle-line:before {
  content: "\e862";
}
.icon-v-key:before {
  content: "\e871";
}
.icon-v-merge:before {
  content: "\e805";
}
.icon-v-phone-line:before {
  content: "\e886";
}
.icon-v-right-caret:before {
  content: "\e88e";
}
.icon-v-time-line:before {
  content: "\e89f";
}
.icon-v-warning-cirlce:before {
  content: "\e8ab";
}
.icon-v-gps:before {
  content: "\e000";
}
.icon-v-gps-line:before {
  content: "\e001";
}
.icon-v-gps-circle-line:before {
  content: "\e8af";
}
.icon-v-gps-circle:before {
  content: "\e8ae";
}
.icon-v-collapse:before {
  content: "\e002";
}
.icon-v-copy:before {
  content: "\e003";
}
.icon-v-send:before {
  content: "\e004";
}
.icon-v-bath:before {
  content: "\e005";
}
.icon-v-bath-line:before {
  content: "\e006";
}
.icon-v-bed:before {
  content: "\e007";
}
.icon-v-bed-line:before {
  content: "\e008";
}
.icon-v-heart:before {
  content: "\e009";
}
.icon-v-heart-line:before {
  content: "\e00a";
}
.icon-v-expand-box:before {
  content: "\e00b";
}
.icon-v-link-1:before {
  content: "\e00c";
}
.icon-v-link-2:before {
  content: "\e00d";
}
.icon-v-modal:before {
  content: "\e00e";
}
.icon-v-modem:before {
  content: "\e00f";
}
.icon-v-security:before {
  content: "\e010";
}
.icon-v-tv:before {
  content: "\e011";
}
.icon-v-lock:before {
  content: "\e012";
}
.icon-v-submit-for-approval:before {
  content: "\e013";
}
.icon-v-terminate-contract:before {
  content: "\e014";
}
.icon-v-activate-contract:before {
  content: "\e015";
}
.icon-v-cancel-approval:before {
  content: "\e016";
}
.icon-v-cancel-contract:before {
  content: "\e017";
}
.icon-v-check-out-to-generate:before {
  content: "\e018";
}
.icon-v-checkout-to-customize:before {
  content: "\e019";
}
.icon-v-create-version:before {
  content: "\e01a";
}
.icon-v-customize:before {
  content: "\e01b";
}
.icon-v-generate:before {
  content: "\e01c";
}
.icon-v-reconcile-word-doc:before {
  content: "\e01d";
}
.icon-v-renew-contract:before {
  content: "\e01e";
}
.icon-v-revoke-for-e-signature:before {
  content: "\e01f";
}
.icon-v-send-for-e-signature:before {
  content: "\e020";
}
.icon-v-unlock:before {
  content: "\e021";
}
.icon-v-update-envelope-status:before {
  content: "\e022";
}
